.month {
    margin-top: 30px
}
.schedule-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    background-color: gray;
    gap: 4px;
}
.schedule-grid p {
    font-size: 1.3rem;
    padding: 0.2rem 0;
    background-color: lightgray;
}